<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
        <ion-buttons  slot="end" >
            <ion-icon name="person-circle"  size="large" (click)="showSignIn()"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngFor="let test of tests">
            <ion-item href="/test/{{test.id}}/start" class="ion-activated">
                <ion-icon name="wifi" slot="start"></ion-icon>
                <ion-label>  {{test.name}}</ion-label>
            </ion-item>
    </ion-list>
    <ion-button (click)="testConnection()">Test Connection</ion-button>
    <ion-button (click)="deleteUser()">Delete user</ion-button>
    <ion-button (click)="showRewardVideo()">Show RewardVideo</ion-button>
    <ion-button (click)="triggerTestRefresh()">Trigger Refresh</ion-button>
    <ion-item>
        <ion-label>
            insert key:value
        </ion-label>

        <ion-input id="keyvalue"></ion-input>
        <ion-button (click)="addItem()" >Add</ion-button>
    </ion-item>
    <ion-list *ngFor="let key of keys">
        <ion-item>{{key}}</ion-item>
    </ion-list>
</ion-content>
