<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngFor="let test of tests">
            <ion-col size="9">
             <div style="height: 50px">
                {{test.name}}
             </div>
            </ion-col>
            <ion-col >
                <ion-fab  >
                    <ion-fab-button>
                        <ion-icon name="play" routerLink="/test/{{test.id}}/start"></ion-icon>
                    </ion-fab-button>
                </ion-fab>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
